@{
	ViewBag.Title = "Contractor Dashboard";
	Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="mb-3">
	<a href="/Home/Index" class="btn btn-warning"> ← Back to Home</a>
</div>

<!--Contractor Table-->
<div class="card">
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>Contractor Id</th>
					<th>Contractor Name</th>
					<th>Gender</th>
					<th>Department</th>
				
					<th>Supporting Documents</th>
					<td>
					
					</td>
				</tr>

			</thead>
			<tbody>
				<tr>
					<td>2</td>
					<td>Lola</td>
					<td>Female</td>
					<td>IT</td>
				
					<td>
						<a href="/Contractor/Review/1" class="btn btn-sm btn-outline-secondary">
							Review
						</a>
						<a href="/Contractor/Documents/1" class="btn btn-sm btn-outline-primary">Documents</a>
					
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Nick</td>
					<td>Male</td>
					<td>HR</td>
			
					<td>
						<a href="/Contractor/Review/2" class="btn btn-sm btn-outline-secondary">
							Review
						</a>
						<a href="/Contractor/Documents/2" class="btn btn-sm btn-outline-primary">Documents</a>
					
					</td>
				</tr>

				<tr>
					<td>4</td>
					<td>Aza</td>
					<td>Female</td>
					<td>Finance</td>
				
					<td>
						<a href="/Contractor/Review/3" class="btn btn-sm btn-outline-secondary">
							Review
						</a>
						<a href="/Contractor/Documents/3" class="btn btn-sm btn-outline-primary">Documents</a>
					
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Gabriel</td>
					<td>Male</td>
					<td>Marketing</td>
				
					<td>
						<a href="/Contractor/Review/4" class="btn btn-sm btn-outline-secondary">
							Review
						</a>
						<a href="/Contractor/Documents/4" class="btn btn-sm btn-outline-primary">Documents</a>
						
					</td>
				</tr>


			</tbody>
		</table>
	</div>
</div>