@{
	ViewBag.Title = "Payment Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="mb-4">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/MakePayment">My Payments</a></li>
		<li class="breadcrumb-item active">Payment Details</li>
	</ol>
</nav>

<div class="row">
	<div class="col-lg-8">
		<div class="card">
			<div class="card-header d-flex justify-content-between">
				<h4>Payment Details</h4>
				
			</div>
			<div class="card-body">
				<div class="row mb-3">
					<div class="col-sm-3"><strong>Account Number</strong></div>
					<div class="col-sm-9">89778968</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-3"><strong>Bank Name</strong></div>
					<div class="col-sm-9">ABSA</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-3"><strong>Branch Code</strong></div>
					<div class="col-sm-9">015452556485</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm-3"><strong>Payment Method</strong></div>
					<div class="col-sm-9">
						EFT
					</div>
					<div class="row mb-3">
						<div class="col-sm-3"><strong>Payment Amount</strong></div>
						<div class="col-sm-9">
							R780
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
	