@{
    ViewBag.Title = "Payment records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mb-3">
    <a href="/Home/Index" class="btn btn-danger"> ← Back to Home</a>
</div>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Payee Name</th>
                    <th>Account Number</th>
                    <th>Bank Name</th>
                    <th>Branch Code</th>
                    <th>Payment Method</th>
                    <th>Payment Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lola</td>
                    <td>123456789</td>
                    <td>ABSA</td>
                    <td>209736</td>
                    <td>Card</td>
                    <td>$10,000</td>
                    <td><span class="badge bg-warning">Pending</span></td>
                    <td>
                        <a href="/Payment/Review/1" class="btn btn-sm btn-outline-primary">
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Cole</td>
                    <td>987654321</td>
                    <td>Nedbank</td>
                    <td>646838</td>
                    <td>EFT</td>
                    <td>$28,000</td>
                    <td><span class="badge bg-success">Approved</span></td>
                    <td>
                        <a href="/Payment/Review/2" class="btn btn-sm btn-outline-primary">
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Elly</td>
                    <td>78965431</td>
                    <td>FNB</td>
                    <td>898653</td>
                    <td>Card</td>
                    <td>$12,000</td>
                    <td><span class="badge bg-success">Approved</span></td>
                    <td>
                        <a href="/Payment/Review/3" class="btn btn-sm btn-outline-primary">
                            View Details
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Ari</td>
                    <td>198238746</td>
                    <td>Standard Bank</td>
                    <td>788965</td>
                    <td>Card</td>
                    <td>$30,000</td>
                    <td><span class="badge bg-warning">Pending</span></td>
                    <td>
                        <a href="/Payment/Review/4" class="btn btn-sm btn-outline-primary">
                            View Details
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
