﻿@{
ViewBag.Title = "Registration Details";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Registration">Registration</a></li>
        <li class="breadcrumb-item active">Registration Details</li>
    </ol>
</nav>


<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h4>Registration Profile</h4>
                <span class="badge bg-warning">Pending Review</span>
            </div>
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-sm-3"><strong> ID</strong></div>
                    <div class="col-sm-9">C002</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong> Name</strong></div>
                    <div class="col-sm-9">Robert Martin</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Account Number</strong></div>
                    <div class="col-sm-9">1234567890</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>CVC</strong></div>
                    <div class="col-sm-9">456</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Branch Code</strong></div>
                    <div class="col-sm-9">632005</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Gender</strong></div>
                    <div class="col-sm-9">Female</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Bank</strong></div>
                    <div class="col-sm-9">ABSA</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Department</strong></div>
                    <div class="col-sm-9">IT</div>
                </div>

            </div>

        </div>
    </div>
    </div>
