﻿@{
ViewData["Title"] = "Home Page";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url("/images/Screenshot 2025-09-15 115943.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
</style>



<div class="d-flex">

    <div class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
        <h4 class="mb-4">   Contract Monthly Claim System</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a asp-controller="Registration" asp-action="Index" class="btn btn-success w-100">Registration</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="Contractor" asp-action="Index" class="btn btn-danger w-100">Contractor</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="SubmitClaim" asp-action="Index" class="btn btn-info w-100">SubmitClaim</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="Payment" asp-action="Index" class="btn btn-warning w-100">Payment</a>
            </li>
           
            <li class="nav-item mb-2">
                <a asp-controller="MonthlyClaim" asp-action="Index" class="btn btn-primary w-100">MonthlyClaim</a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="MakePayments" asp-action="Index" class="btn btn-dark w-100">MakePayments</a>
            </li>
        </ul>
    </div>

</div>
