@{
    ViewBag.Title = "Claim Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/SubmitClaim">Claims</a></li>
        <li class="breadcrumb-item active">Claim Details</li>
    </ol>
</nav>


<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h4>Claims Submission</h4>
                
            </div>
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Claim ID</strong></div>
                    <div class="col-sm-9">CLM001</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Claimant Name</strong></div>
                    <div class="col-sm-9">Robert Martin</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Policy Number</strong></div>
                    <div class="col-sm-9">P-1234567890</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Claim Date</strong></div>
                    <div class="col-sm-9">20-09-2022</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Contractor ID</</strong></div>
                    <div class="col-sm-9">632005766</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Amount Claimed</strong></div>
                    <div class="col-sm-9">980</div>
                </div>


            </div>



        </div>
    </div>
</div>
